@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    //ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Login";
    Layout = "_CVHomeLayout";
}
@{
    var token = HttpContextAccessor.HttpContext.Request.Cookies["jwt"];
    if (token != null)
    {
        <h1 class="mt-3 text-center">Bạn đã đăng nhập</h1>
        <div class="d-flex justify-content-center">
            <a class="text-success text-center" href="/">Trở lại trang chính</a>
        </div>
    }
    else
    {
        <div class="container mt-3" style="width : 500px">
            <h2 class="text-center">Login</h2>
            <form id="form-login">
                <div class="form-group">
                    <label for="email">Username:</label>
                    <input class="form-control" id="username" placeholder="Enter email" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" autofocus>
                </div>
                <button class="btn btn-primary">Login</button>
            </form>
                <div class="d-flex justify-content-center">
                    <a class="text-primary" href="/user/register">Not registered? Create an acount</a>
                </div>
        </div>
        <div class="text-danger warning text-center"></div>
        <div class="text-success success text-center"></div>
    }
}