//Chỉnh theme của block Manager
/* We can remove the border we've set at the beginnig */
#gjs {
    border: none;
  }
/* Theming */

/* Primary color for the background */
.gjs-one-bg {
background-color: #f6f6f6;
}

/* Secondary color for the text color */
.gjs-two-color {
color:#f6f6f6;
}

/* Tertiary color for the background */
.gjs-three-bg {
background-color:#f6f6f6;
color: #fff;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
color: #000;
}

.gjs-title{
    background-color: transparent !important;
    color: black !important;
}
//Chỉnh label của block
.block-label-img{
    padding-bottom: 8px;
}

.block-label-title{
    font-size: 12px ;
    color: black;
}