<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">CVBuilder</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Việc làm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/CVBuilder">Quản lý CV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Khám phá</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Công ty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tư vấn</a>
        </li>
    </ul>
</nav>